# dependencies
node_modules/

# IDE
/.vscode
/.project
/.settings 

# build output
dist

# misc
.DS_Store
lerna-debug.log
npm-debug.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo
.npmrc

# tests
/tests
/coverage
/.nyc_output
/logs
